/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Oswald:wght@200;500;600&display=swap');


/* Basics */

body {
    background-color: #010330;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Bungee Shade', cursive;
}


.content {
    background-color: #FFF;
    padding: 15px;
}